services:
  bin-gen-server:
    build:
      context: .
      dockerfile: ./server/Dockerfile
    image: bin-gen
    environment:
      CREATE_ACCOUNT_DELAY: 1000
      CREATE_ADDRESS_DELAY: 1000
      ON_ERROR_DELAY: 5000
      AMOUNT_ADDRESS: 50
      MUST_LEGIT_TO_AMOUNT: 0
      PROXY:
    ports:
     - "8080:8080"
    volumes:
      - ./addrbin.db:/app/server/addrbin.db
  bin-gen-client:
    build:
      context: .
      dockerfile: ./client/Dockerfile
    image: bin-gen
    volumes:
      - ./addrbin.db:/app/client/addrbin.db
    environment:
      DATABASE:
      SERVER_URL: http://localhost:8080
      AMOUNT_ACCOUNT: 100
      MIN_AMOUNT_ADDRESS: 10