services:
  bin-gen-server:
    build:
      context: .
      dockerfile: ./server/Dockerfile
    image: bin-gen
    environment:
      CREATE_ACCOUNT_DELAY: 1000
      CREATE_ADDRESS_DELAY: 1000
      ON_ERROR_DELAY: 5000
      ADDRESS_AMOUNT: 50
      MUST_LEGIT_TO_AMOUNT: 0
      PROXY:
    ports:
     - "8080:8080"
    volumes:
      - ./server/addrbin.db:/app/server/addrbin.db
  bin-gen-client:
    build:
      context: .
      dockerfile: ./client/Dockerfile
    image: bin-gen
    volumes:
      - ./server/addrbin.db:/app/client/addrbin.db