services:
  bin-gen-server:
    build: .
    image: bin-gen
    environment:
      CREATE_ACCOUNT_DELAY: 1000
      CREATE_ADDRESS_DELAY: 1000
      ON_ERROR_DELAY: 5000
      ADDRESS_AMOUNT: 50
      MUST_LEGIT_TO_AMOUNT: 0